<div class="container-fluid footer p-0">
    <div class="footer-cover">
    </div>
    <div class="row justify-content-around align-items-center py-5 px-4">

        <div class="col-8 col-md-4 pb-4 pb-md-0">
            <a class="menu-action-trigger logo justify-content-center justify-content-md-start" data-content="example2">
                <img src="assets/img/examples/LOGO_CABECERA.png" alt="" class="img-fluid">
            </a>
        </div>
        <div class="col-12 col-md-6">
            <div class="d-flex justify-content-md-around justify-content-center  transparencia">
                <a class="menu-action-trigger" data-content="example2">
                    <img src="assets/img/TRANSPARENCIA.png" alt="Transparencia" class="img-fluid">
                </a>
                <a href="">
                    <img src="assets/img/banner_sit.jpg" alt="" class="img-fluid">
                </a>
            </div>
        </div>
    </div>

    <div class="row py-4 px-4 justify-content-around">
        <div class="logos col-sm-12 col-md-4 text-center"><a href=""><img src="assets/img/LogoAUR-01.png" alt=""></a></div>
        <div class="logos col-6 col-md-4 text-center"><a href=""><img src="assets/img/UE.png" alt=""></a></div>
        <div class="logos col-6 col-md-4 text-center"><a href=""><img src="assets/img/CRUNCH.png" alt=""></a></div>
    </div>
</div>
<div class="container-fluid copyright">
    <div class="row p-3">
       
        <div class="derechos col-12 col-md-6 order-2 order-md-1 text-center text-md-left p-1 p-md-0">
            Copyright 2018 Universidad de O'Higgins | Todos los derechos reservados.
        </div>
        <div class="redes col-12 col-md-6 order-1 order-md-2 text-center text-md-right p-1 p-md-0">
            <a href=""><i class="fab fa-facebook-square fa-2x"></i></a>
            <a href=""><i class="fab fa-twitter-square fa-2x"></i></a>
            <a href=""><i class="fab fa-instagram fa-2x"></i></a>
            <a href=""><i class="fab fa-youtube fa-2x"></i></a>
        </div>
        
    </div>
</div>