





<div class="page position-absolute t-0 w-100" id="admision">
    <div class="row no-gutters minh-100vh">
        <div class="col-lg-9 order-1 order-lg-0 page-content pt-0 pt-lg-0">

            <app-menu [paginas]="paginas" (current)="setCurrent($event)"></app-menu>
            <div class="accesibilidad">
                <app-inclusion display="up"></app-inclusion>
            </div>
                <!-- ============================================-->
            <!-- <section> begin ============================-->
            <section class="text-center pt-7 pt-xl-7 pt-xxl-8 text-center" id="boots4-projects">

                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-lg-10">
                            <div class="text-center pt-6 pt-md-4 pt-lg-0 mb-5 mb-lg-6">
                                <h2 class="fs-2 fs-sm-3"> <span class="font-weight-medium">Our Latest </span> Works</h2>
                                <hr class="hr-ornate" />
                            </div>
                            <div class="sortable" data-options='{"layoutMode":"packery"}'>
                                <div class="menu justify-content-center mb-3">
                                    <div class="item px-3 text-uppercase active" data-filter="*">All</div>
                                    <div class="item px-3 text-uppercase" data-filter=".photography">Photography</div>
                                    <div class="item px-3 text-uppercase" data-filter=".studio">Studio</div>
                                    <div class="item px-3 text-uppercase" data-filter=".interior">Interior</div>
                                    <div class="item px-3 text-uppercase" data-filter=".illustration">Illustration</div>
                                </div>
                                <div class="row no-gutters sortable-container sortable-container-gutter-fix">
                                    <a class="col-6 col-md-4 sortable-item p-2 interior"
                                        href="assets/img/projects/project-7-f.jpg" data-lightbox="image"
                                        data-title="my caption">
                                        <img class="w-100 rounded" src="assets/img/projects/project-7.jpg" alt="" />
                                    </a>
                                    <a class="col-6 col-md-4 sortable-item p-2 studio"
                                        href="assets/img/projects/project-11-f.jpg" data-lightbox="image"
                                        data-title="my caption">
                                        <img class="w-100 rounded" src="assets/img/projects/project-11.jpg" alt="" />
                                    </a>
                                    <a class="col-6 col-md-4 sortable-item p-2 photography"
                                        href="assets/img/projects/project-8-f.jpg" data-lightbox="image"
                                        data-title="my caption">
                                        <img class="w-100 rounded" src="assets/img/projects/project-8.jpg" alt="" />
                                    </a>
                                    <a class="col-6 col-md-4 sortable-item p-2 studio"
                                        href="assets/img/projects/project-9-f.jpg" data-lightbox="image"
                                        data-title="my caption">
                                        <img class="w-100 rounded" src="assets/img/projects/project-9.jpg" alt="" />
                                    </a>
                                    <a class="col-6 col-md-4 sortable-item p-2 photography"
                                        href="assets/img/projects/project-12-f.jpg" data-lightbox="image"
                                        data-title="my caption">
                                        <img class="w-100 rounded" src="assets/img/projects/project-12.jpg" alt="" />
                                    </a>
                                    <div class="col-6 col-md-4 sortable-item p-2 illustration">
                                        <img class="rounded w-100" src="assets/img/projects/project-13.jpg" alt="" />
                                        <a class="video-modal position-absolute r-0 b-0 pr-4 pb-3"
                                            href="https://www.youtube.com/watch?v=QD7pOiZBgy0" data-start="01"
                                            data-end="75">
                                            <svg width="45" height="45" xmlns="http://www.w3.org/2000/svg"
                                                viewbox="0 0 274.19 274.19">
                                                <defs>
                                                    <style>
                                                        .play-path {
                                                            fill: none;
                                                            stroke: #ffffff;
                                                            stroke-linecap: round;
                                                            stroke-linejoin: round;
                                                            stroke-width: 12px;
                                                        }
                                                    </style>
                                                </defs>
                                                <g>
                                                    <path class="play-path"
                                                        d="M208.31,29.4A129.12,129.12,0,1,1,137.1,8m-1.48,170.53L199.94,137,104.07,79.46v113">
                                                    </path>
                                                </g>
                                            </svg>
                                        </a>
                                    </div>
                                    <div class="col-8 sortable-item p-2" id="owl-slide">
                                        <div class="embed-responsive embed-responsive-4by3">
                                            <div class="embed-responsive-item owl-carousel owl-theme owl-dots-inner owl-theme-white"
                                                data-options='{"items":1,"autoplay":true,"loop":true,"animateOut":"fadeOut"}'>
                                                <img class="rounded fit-cover" src="assets/img/projects/project-14.jpg"
                                                    alt="" />
                                                <img class="rounded fit-cover" src="assets/img/projects/project-15.jpg"
                                                    alt="" />
                                            </div>
                                        </div>
                                    </div>
                                    <a class="col-6 col-md-4 sortable-item p-2 photography"
                                        href="assets/img/projects/project-10-f.jpg" data-lightbox="image"
                                        data-title="my caption">
                                        <img class="w-100 rounded" src="assets/img/projects/project-10.jpg" alt="" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center text-center pt-4">
                        <div class="col">
                            <h2 class="font-weight-medium fs-2 fs-sm-3"> Start a project with us</h2>
                            <p class="lead">Our telented team always ready to help you</p>
                            <a class="btn btn-primary rounded mt-2 shadow-sm" href="#">Get Started</a>
                        </div>
                    </div>
                </div>
                <!-- end of .container-->

            </section>
            <!-- <section> close ============================-->
            <!-- ============================================-->


            <footer class="page-footer">
                <div class="container-fluid copyright">
                    <div class="row p-3">
            
                        <div class="derechos col-12 col-md-6 order-2 order-md-1 text-center text-md-left p-1 p-md-0">
                            Copyright 2018 Universidad de O'Higgins | Todos los derechos reservados.
                        </div>
                        <div class="redes col-12 col-md-6 order-1 order-md-2 text-center text-md-right p-1 p-md-0">
                            <a href=""><i class="fab fa-facebook-square fa-2x"></i></a>
                            <a href=""><i class="fab fa-twitter-square fa-2x"></i></a>
                            <a href=""><i class="fab fa-instagram fa-2x"></i></a>
                            <a href=""><i class="fab fa-youtube fa-2x"></i></a>
                        </div>
            
                    </div>
                </div>
            </footer>
        </div>
        <div class="col-lg-3 col-12 t-0 order-0 order-lg-1 position-absolute position-lg-relative">
            <div class="h-lg-100vh sticky-top py-4"><span class="btn-close sticky-area"><img class="d-none d-lg-block times"
                        src="assets/img/times.svg" width="25" alt="" /><img class="d-lg-none" src="assets/img/times-black.svg"
                        width="18" alt="" /></span>
                <div class="bg-holder d-flex d-sm-flex d-md-inline"
                    style="background-image:url(https://picsum.photos/400/1005);">
                    <div class="bg-color"  [ngStyle]="{'background':'linear-gradient( rgb('+color+') 40%, rgba('+color+',.4) )'}"></div>
                    <div class="menu-mobile d-flex d-lg-none ml-5">
                        <div class="col-6">
                            <img src="assets/img/examples/LOGO_CABECERA.png"
                                class="sticky-area img-fluid mh-100 h-auto w-100 py-1" alt="Logo header">
                        </div>
                        <div class="col container-menu-mobile px-3" *ngIf="!showMenuMovil" (click)="openMenuMovil($event)">
                            <i class="fas fa-bars fa-2x"></i>
                        </div>
                        <div class="col container-menu-mobile px-3" *ngIf="showMenuMovil" (click)="cerrarMenu($event)">
                            <i class="fas fa-times fa-2x"></i>
                        </div>
                    </div>
                </div>
                <h1 class="page-title">{{title}}</h1>
            </div>
            <app-menu-mobile *ngIf="showMenuMovil" [paginas]="current"></app-menu-mobile>
        </div>
    </div>
</div>