<div class="container">
    <div *ngIf="toUp" class="list" [ngClass]="{'active':isActive}">
        <div class="row list-line justify-content-start direction-row-inverse">
            <div (click)="openLang($event)" class="circle blue align-items-center justify-content-center text-center"><i
                    class="fas fa-language"></i></div>
            <div class="hide" [ngClass]="{'active':isLangOpen}">
                <div class="flag chile"><span>&#9733;</span></div>
                <div class="flag"><img src="assets/img/united-kingdom.svg" alt=""></div>
        
            </div>
        
        </div>
        <div class="row list-line justify-content-start direction-row-inverse">
            <div (click)="openColor($event)" class="circle white align-items-center justify-content-center text-center">
                <a href="https://www.ucampus.cl/" target="_blank">
                    <img src="assets/img/UCAMPUS.png" alt="" class="img-fluid w-100 h-auto p-2">
                </a>
            </div>
        </div>

        <div class="row list-line justify-content-start direction-row-inverse align-items-center">
            <div (click)="openSearch($event)"
                class="circle yellow search align-items-center justify-content-center text-center"><i
                    class="fas fa-search"></i></div>
            <div class="hide search toUp" [ngClass]="{'active':isSearchOpen}">
                <button>Buscar</button>
                <input type="text">
            </div>
    
        </div>
        
        
    </div>
    <div class="row justify-content-end mt-3" [ngClass]="{ 'mt-3' : toUp }">
        <div (click)="toggle($event)" style="  background:rgb(0,117,201)" class="circle main align-items-center justify-content-center text-center">
            <div class="hamburger" [ngClass]="{'open':isActive}">
                <div class="hamburger-inner"></div>
            </div>
        </div>
        
    </div>
    <div *ngIf="!toUp" class="list" [ngClass]="{'active':isActive}">
        <div class="row list-line justify-content-start direction-row-inverse align-items-center">
            <div (click)="openSearch($event)"
                class="circle yellow search align-items-center justify-content-center text-center"><i
                    class="fas fa-search"></i></div>
            <div class="hide search" [ngClass]="{'active':isSearchOpen}">
                <button>Buscar</button>
                <input type="text">
            </div>
    
        </div>
        <div class="row list-line justify-content-start direction-row-inverse">
            <div (click)="openColor($event)" class="circle white align-items-center justify-content-center text-center">
                <a href="https://www.ucampus.cl/" target="_blank">
                    <img src="assets/img/UCAMPUS.png" alt="" class="img-fluid w-100 h-auto p-2">
                </a>
            </div>
        </div>


        <div class="row list-line justify-content-start direction-row-inverse">
            <div (click)="openLang($event)" class="circle blue align-items-center justify-content-center text-center"><i
                    class="fas fa-language"></i></div>
            <div class="hide" [ngClass]="{'active':isLangOpen}">
                <div class="flag chile"><span>&#9733;</span></div>
                <div class="flag"><img src="assets/img/united-kingdom.svg" alt=""></div>
    
            </div>
    
        </div>
    </div>
  
</div> 
