<div class="container">
    <div class="row justify-content-end">
        <div (click)="toggle($event)" style="  background:rgb(0,117,201)" class="circle main align-items-center justify-content-center text-center">
            <div class="hamburger" [ngClass]="{'open':isActive}">
                <div class="hamburger-inner"></div>
            </div>
        </div>
        
    </div>
    <div class="list" [ngClass]="{'active':isActive}">
        <div class="row list-line justify-content-start direction-row-inverse align-items-center">
            <div (click)="openSearch($event)" class="circle yellow search align-items-center justify-content-center text-center"><i class="fas fa-search"></i></div>
            <div class="hide search" [ngClass]="{'active':isSearchOpen}">
                    <button>Buscar</button>
                    <input type="text">
            </div>
            
        </div>
        <div class="row list-line justify-content-start direction-row-inverse">
            <div (click)="openText($event)" class="circle green align-items-center justify-content-center text-center"><i class="fas fa-text-height"></i></div>
            <div class="hide" [ngClass]="{'active':isTextOpen}">
                <div class="circle align-items-center justify-content-center text-center"><i class="fas fa-arrow-up"></i></div>
                <div class="circle align-items-center justify-content-center text-center"><i class="fas fa-arrow-down"></i></div>
            </div>
           
        </div>
        <div class="row list-line justify-content-start direction-row-inverse">
            <div (click)="openColor($event)" class="circle red align-items-center justify-content-center text-center"><i class="fas fa-low-vision"></i></div>
            <div class="hide" [ngClass]="{'active':isColorOpen}">
                <div class="circle align-items-center justify-content-center text-center">ad</div>
            </div>
           
        </div>
        <div class="row list-line justify-content-start direction-row-inverse">
            <div (click)="openLang($event)" class="circle blue align-items-center justify-content-center text-center"><i class="fas fa-language"></i></div>
            <div class="hide" [ngClass]="{'active':isLangOpen}">
                <div class="flag chile"><span>&#9733;</span></div>
                <div class="flag"><img src="assets/img/united-kingdom.svg" alt=""></div>
                
            </div>
           
        </div>
    </div>
   
    <!-- <div class="row list justify-content-end" [ngClass]="{'active':isActive}">
        <div class="col">
            <span>asdasd</span>
            <span>asdasd</span>
        </div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
         <ul>
            <li>
                <ul>
                    <li  class="search circle align-items-center justify-content-center text-center">asddsa</li>
                    <li  class="search circle align-items-center justify-content-center text-center"><i class="fas fa-search"></i></li>
                </ul>
                
        
            </li>
            <li class="circle align-items-center justify-content-center text-center">
                <i class="fas fa-text-height"></i>
            </li>
            <li class="circle align-items-center justify-content-center text-center">
                <i class="fas fa-low-vision"></i>
            </li>
            <li class="circle align-items-center justify-content-center text-center">
                <i class="fas fa-language"></i>
            </li>
        </ul>
         
    </div> -->
</div> 
