a:hover{
    text-decoration: none;
}
.container-submenu.hovered{
    z-index: 110;
    opacity: 1;
}
.container-menu{
    width: 100%;
    margin: 0 auto;
}
.pagina {
    flex-grow: 1;
    text-align: center;
    /* transition: all ease .4s;
    -webkit-transition: all ease .4s;
    -moz-transition: all ease .4s;
    -ms-transition: all ease .4s;
    -o-transition: all ease .4s; */
}
.pagina:hover{
    background:rgb(0,117,201);;
    color: #fff;
}
.pagina a.menu-action-trigger{cursor: pointer;}
.container-submenu {
    width: 100%;
    z-index: -1;
    display: none;
    height: auto;
    background: rgb(0,117,201);
    position: absolute;
    left: 0;
    color: #fff;
    box-shadow: 0 10px 17px -8px #000;
    opacity: 0;
    animation-duration: .4s;
    text-align:justify!important;
}

.container-submenu .container .menu-wrap h6,.container-submenu .container .menu-wrap h5,.container-submenu .container .menu-wrap a{
    color: #fff!important;
    cursor: pointer;
    transition: all ease .4s;
    -webkit-transition: all ease .4s;
    -moz-transition: all ease .4s;
    -ms-transition: all ease .4s;
    -o-transition: all ease .4s;
}
.container-submenu h6{
  color: #fff;
  font-weight: 100;
}
.container-submenu h5:hover, .container-submenu a:hover {
 /*font-size: 1.2rem;
 */transform: scale(1.3);
 -webkit-transform: scale(1.3);
 -moz-transform: scale(1.3);
 -ms-transform: scale(1.3);
 -o-transform: scale(1.3);
 /*zoom: 1.4;
 */color:red;
}

.menu-wrap{
    max-height: 400px;
}

.main-menu{    background: #231c34; z-index: 100; width:75%;}
.main-menu .main-title{
  color: #eaeaea;

}
.main-menu nav a img{
  width:200px;
}
.main-title{
  display: flex;
  justify-content: center;
  align-items: center;
}
a.main-title:hover, a.main-title.active{
  color: #fff;
  font-weight: bolder;
  /* background:rgb(0,117,201); */
}
.main-title .linea {
    height: 2px;
    border-radius:10px;
    width: 27px;
    background: yellow;
    opacity: 0;
    transition: all ease .4s;
    -webkit-transition: all ease .4s;
    -moz-transition: all ease .4s;
    -ms-transition: all ease .4s;
    -o-transition: all ease .4s;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
}
.main-title .linea.line-left {
  margin-right: -7px;
}
.main-title .linea.line-right {
  margin-left: -7px;
}

a.main-title:hover .line-left, a.main-title.active .line-left{
  opacity: 1;
  margin-right: 7px
}
a.main-title:hover .line-right,  a.main-title.active .line-right{
  opacity: 1;
  margin-left: 7px
}