
<div class="main-menu d-lg-flex d-none">
    <nav class="row d-flex justify-content-around container-menu align-items-stretch flex-nowrap">
        <div class="align-self-center p-2 ml-6">
            <a class="sticky-area"><img src="assets/img/examples/LOGO_CABECERA.png" alt=""></a>
        </div>
        
        <div *ngFor="let pagina of currentPage" class="flex-grow-1 d-flex justify-content-center" >
            <div *ngFor="let pag of pagina.children" class="pagina d-flex justify-content-center" [ngClass]="{'active': pag.path === hash}" (mouseenter) ="mouseEnter($event)" (mouseleave) ="mouseLeave($event)">
                <a class="menu-action-trigger main-title px-3" [attr.data-content]="pag.path">
                    <!-- <div class="linea line-left"></div> -->
                    {{pag.title}}
                    <!-- <div class="linea line-right"></div> -->
                </a>
                <div *ngIf="pag.children" class="container-submenu p-5">
                    <div class="container">
                        <div class="row flex-row flex-wrap menu-wrap">
                            <div class="col-3 px-2 m-0 mb-5" *ngFor="let subp of pag.children">
                                <h5 class="menu-action-trigger d-inline-block" [attr.data-content]="subp.path">{{subp.title}}</h5>
                                <div class="col px-3 py-1 m-0" *ngFor="let subp2 of subp.children">
                                    <a class="menu-action-trigger d-inline-block" [attr.data-content]="subp2.path">{{subp2.title}}</a>
                                    <div class="col" *ngFor="let subp3 of subp2.children">
                                        <a class="menu-action-trigger d-inline-block" [attr.data-content]="subp3.path">{{subp3.title}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>
    </nav>
</div>

