<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->



  <!-- ============================================-->
  <!-- Preloader ==================================-->
  <div id="preloader">
    <div class="loader"><span></span><span></span><span></span><span></span></div>
  </div>
  <!-- ============================================-->
  <!-- End of Preloader ===========================-->


  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section class="p-0" id="home">

    <div class="container-fluid p-0 minh-100vh">

      <!-- INICIO PARTE IZQUIERDA -->
      <div class="position-relative px-0 w-lg-50 h-100 position-lg-absolute" id="baseContent">
    
      

          <!-- INICIO SLIDER -->
          <div id="carouselExampleIndicators" class="carousel slide h-100" data-interval="10000" data-ride="carousel" data-pause="false">
            <!-- INICIO HEADER -->
            <div class="position-absolute p-4 w-100 header">
              <div class="container-fluid ">
                <div class="row align-items-center">
                  <div class="col-6 align-self-start">
                    <img src="assets/img/examples/LOGO_CABECERA.png" class="img-fluid" alt="Logo header">
                  </div>
                  <div class="col-6 text-right ">
                    <div class="botones">
                      <app-inclusion display="down"></app-inclusion>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- FIN HEADER -->
            <div class="dark"></div>
            <div class="cover slide"></div>
            <div class="carousel-inner h-100">
              <div *ngFor="let item of carousel; let index=index" [class.active]="index==0" class="carousel-item h-100" >
                <img class="d-block w-100 h-100 zoomImage" src="{{item.image}}" alt="{{item.alt}}">
                <div class="carousel-caption d-none d-md-block">
                  <h1 class="animated zoomIn">{{item.title}}</h1>
                  <p class="animated bounce">{{item.subtitle}}</p>

                  <a class="btn-slide animated zoomIn"  data-content="feature"> <span class="masked">Ver más</span> </a>
                 
                </div>
                
              </div>

              

            </div>
          <footer class="p-5 w-100 ">
            <app-footer></app-footer>
          </footer>
          </div>
           
          <!-- FIN SLIDER -->
        
      </div>
        
      <!-- FIN PARTE IZQUIERDA -->


      <div class="position-relative w-lg-50 position-lg-fixed undefined" id="gridNav">
        <div class="row h-lg-100vh">
          <div class="col-6 col-sm-4 minh-25vh h-lg-50vh sidebar-item-wrapper py-5" data-content="about">
            <div class="cover first"></div>
            <div class="bg-holder" style="background-image:url(https://picsum.photos/200/300);">
            </div>
            <!--/.bg-holder-->

            <div class="sidebar-item">
              <img class="mb-1 mb-lg-3 nav-icon" src="assets/img/lineicons/favorites.svg" alt="">
              <h2 class="font-weight-light text-white fs-1 fs-xl-2 fs-xxl-3">About Us</h2>
            </div>
          </div>
          <div class="col-6 col-sm-4 minh-25vh h-lg-50vh sidebar-item-wrapper py-5" data-content="service">
            <div class="cover second"></div>
            <div class="bg-holder" style="background-image:url(https://picsum.photos/200/305);">
            </div>
            <!--/.bg-holder-->

            <div class="sidebar-item">
              <img class="mb-1 mb-lg-3 nav-icon" src="assets/img/lineicons/suitcase.svg" alt="">
              <h2 class="font-weight-light text-white fs-1 fs-xl-2 fs-xxl-3">Services</h2>
            </div>
          </div>
          <div class="col-6 col-sm-4 minh-25vh h-lg-50vh sidebar-item-wrapper py-5" data-content="portfolio">
            <div class="cover third"></div>
            <div class="bg-holder" style="background-image:url(https://picsum.photos/200/304);">
            </div>
            <!--/.bg-holder-->

            <div class="sidebar-item">
              <img class="mb-1 mb-lg-3 nav-icon" src="assets/img/lineicons/heart.svg" alt="">
              <h2 class="font-weight-light text-white fs-1 fs-xl-2 fs-xxl-3">Portfolio</h2>
            </div>
          </div>
          <div class="col-6 col-sm-4 minh-25vh h-lg-50vh sidebar-item-wrapper py-5" data-content="gallery">
            <div class="cover fourth"></div>
            <div class="bg-holder" style="background-image:url(https://picsum.photos/200/303);">
            </div>
            <!--/.bg-holder-->

            <div class="sidebar-item">
              <img class="mb-1 mb-lg-3 nav-icon" src="assets/img/lineicons/image.svg" alt="">
              <h2 class="font-weight-light text-white fs-1 fs-xl-2 fs-xxl-3">Gallery</h2>
            </div>
          </div>
          <div class="col-6 col-sm-4 minh-25vh h-lg-50vh sidebar-item-wrapper py-5" data-content="faq">
            <div class="cover fifth"></div>
            <div class="bg-holder" style="background-image:url(https://picsum.photos/200/302);">
            </div>
            <!--/.bg-holder-->

            <div class="sidebar-item">
              <img class="mb-1 mb-lg-3 nav-icon" src="assets/img/lineicons/computer.svg" alt="">
              <h2 class="font-weight-light text-white fs-1 fs-xl-2 fs-xxl-3">Faq</h2>
            </div>
          </div>
          <div class="col-6 col-sm-4 minh-25vh h-lg-50vh sidebar-item-wrapper py-5" data-content="contact">
            <div class="cover sixth"></div>
            <div class="bg-holder" style="background-image:url(https://picsum.photos/200/301);">
            </div>
            <!--/.bg-holder-->

            <div class="sidebar-item">
              <img class="mb-1 mb-lg-3 nav-icon" src="assets/img/lineicons/placeholder.svg" alt="">
              <h2 class="font-weight-light text-white fs-1 fs-xl-2 fs-xxl-3">Contact</h2>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- end of .container-->
  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->













<div class="page position-absolute w-100" id="feature" style="display: none;">
  <div class="row no-gutters minh-100vh">
    <div class="col-lg-9 order-1 order-lg-0 page-content">

      <!-- Feature page content will go here-->

      <!-- Feature page footer will go here -->
      <footer class="page-footer">
        <div class="bg-holder"
          style="background-image:url(assets/img/sidebars/your-feature-image.jpg);background-position: center; transform: scale(1.1);">
        </div>
        <!--/.bg-holder-->
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="row align-items-center">
              <div class="col-lg-6 text-lg-left">
                <p class="fs--1 text-uppercase ls font-weight-bold mb-0">Copyright &copy; 2018 Boots4&trade; inc.</p>
              </div>
              <div class="col-lg-6 text-lg-right mt-2 mt-lg-0">
                <p class="fs--1 text-uppercase ls font-weight-bold mb-0">Made with<span
                    class="fas fa-heart mx-1"></span>by
                  <a class="text-light" href="https://themewagon.com/">Themewagon</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>







<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->