<!-- 

<ul>
    <li class="circle-menu center">Center</li>
    <li class="circle-menu">1</li>
    <li class="circle-menu">1</li>
    <li class="circle-menu">1</li>
    <li class="circle-menu">1</li>
    <li class="circle-menu">1</li>
    <li class="circle-menu">1</li>
    <li class="circle-menu">1</li>
    <li class="circle-menu">1</li>
    <li class="circle-menu">1</li>
    <li class="circle-menu">1</li>
    <li class="circle-menu">1</li>
</ul> -->
<div class="container-circulos d-none d-md-flex" [ngStyle]="{'height': props.height+'px'}">
    <div class="circulo-exterior" [ngStyle]="{'background':props.bg}">
       
        <div class="shape">
            <div class="circulo-central" [ngClass]="{'center': !isStarted}" [ngStyle]="{'width': diam+'px', 'height': diam+'px'}">
                <h5 *ngIf="!isStarted; else contenido" (click)="start()">Conoce las Carreras</h5>
                <ng-template #contenido>
                    <h5>{{activeData.title}}</h5>
                    <p class="p-0 m-0">{{desc}}</p>
                    <a class="btn-slide menu-action-trigger" [attr.data-content]="activeData.href.substr(1)" >Ver más</a>
                </ng-template>
                
            </div>
            
        </div>
        
    </div>
    <div class="circulo-girador"
        [ngStyle]="{'transform': 'rotate(' + moveCircle.rotate + 'deg) translate('+ moveCircle.space +'px) rotate('+moveCircle.rotateReverse+'deg)'}">
    </div>
    <a *ngFor="let carrera of datos;let index=index" [href]="carrera.href" class="circulo-item-container d-flex flex-column align-items-center"
            [ngStyle]="{'transform': 'rotate(' + carrera.rotate + 'deg) translate('+ carrera.space +'px) rotate('+carrera.rotateReverse+'deg)'}"
            (mouseenter)="setActive(index)">
        <div class="d-flex flex-column align-items-center">
            <div class="circulo-item" [ngClass]="{'active': carrera.active}">
                <i class="fas fa-university fa-2x"></i>
            </div>
            <div class="circulo-title text-center" [ngClass]="{'active': carrera.active}">
                {{carrera.title}}
            </div>
        </div>
    </a>
    
</div>

<div class="d-flex d-md-none flex-column container">
    <div *ngFor="let carrera of datos" class="d-flex py-4 px-2 align-items-center circulos-mobile">
        <div class="col-3">
            <img src="assets/img/icons/earth.png" alt="" class="img-flex w-100"> 
        </div>
        <div class="col-9 d-flex flex-column">
            <h3>{{carrera.title}}</h3>
            <a class="menu-action-trigger" [attr.data-content]="carrera.href.substr(1)">VER MÁS</a>
        </div>
    </div>
    
</div>