<div class="page position-absolute t-0 w-100" id="comunidad-uoh">
        <div class="row no-gutters minh-100vh">
          <div class="col-lg-9 order-1 order-lg-0 page-content pt-lg-0">

            <app-menu [paginas]="paginas" (current)="setCurrent($event)"></app-menu>
            <app-menu-mobile *ngIf="showMenuMovil" [paginas]="current" (closeMenu)="cerrarMenu($event)"></app-menu-mobile>
            <div class="accesibilidad col-lg-9">
                <app-inclusion display="up"></app-inclusion>
            </div>
            <!-- ============================================-->
            <!-- <section> begin ============================-->
            <section class="pt-5 pt-xl-7 pt-xxl-8">

              <div class="container-fluid">
                <div class="row justify-content-center">
                  <div class="col-lg-10">
                    <div class="text-center mb-5 mb-lg-6">
                      <h2 class="fs-2 fs-sm-3"> <span class="font-weight-medium">Get In </span> Touch</h2>
                      <hr class="hr-ornate" />
                    </div>
                    <div class="row">
                      <div class="col-md-6 mb-4 mb-xl-0">
                        <h4>Connect with us</h4>
                        <p class="mt-3 mb-0"> We help global leaders with their organization's most critical issues and opportunities. </p>
                        <div class="row">
                          <div class="col-11">
                            <hr class="my-4" />
                          </div>
                          <div class="col-auto" style="width: 178px;">
                            <div class="row">
                              <div class="col-1"><span class="fas fa-map-marker-alt text-900"></span></div>
                              <div class="col">
                                <h5 class="mb-1">Boots4 Org</h5>
                                <p>35 King Street
                                  <br/>Bristol, BS1 4DZ</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-auto" style="width: 178px;">
                            <div class="row">
                              <div class="col-12">
                                <div class="row">
                                  <div class="col-1 mr-3"><span class="fas fa-phone text-900"></span></div>
                                  <div class="col pl-0">
                                    <a href="tel:112-334-48-55">+112-334-48-55</a>
                                  </div>
                                </div>
                              </div>
                              <div class="col-12">
                                <div class="row">
                                  <div class="col-1 mr-3"><span class="fas fa-paper-plane text-900"></span></div>
                                  <div class="col pl-0">
                                    <a href="mailto:info@themewagon.com">info@slick.com</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-11">
                            <hr class="my-4" />
                          </div>
                          <div class="col-auto" style="min-width: 100%;">
                            <ul class="list-inline">
                              <li class="list-inline-item mx-2">
                                <a class="text-700" href="#"><span class="fab fa-facebook-f"></span></a>
                              </li>
                              <li class="list-inline-item mx-2">
                                <a class="text-700" href="#"> <span class="fab fa-twitter"></span></a>
                              </li>
                              <li class="list-inline-item mx-2">
                                <a class="text-700" href="#"> <span class="fab fa-linkedin-in"></span></a>
                              </li>
                              <li class="list-inline-item mx-2">
                                <a class="text-700" href="#"> <span class="fab fa-youtube"></span></a>
                              </li>
                              <li class="list-inline-item mx-2">
                                <a class="text-700" href="#"><span class="fab fa-google-plus-g"></span></a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 mb-4 mb-lg-0">
                        <h4>Drop us a line</h4>
                        <p>Our team are eagerly waiting to help you growing your business. Please feel free to contact with us.</p>
                        <form class="zform">
                          <input type="hidden" name="to" value="username@domain.extension" />
                          <div class="form-group">
                            <label class="ls text-uppercase mb-0">Name</label>
                            <input class="form-control" type="text" name="name" placeholder="" required="required" />
                          </div>
                          <div class="form-group">
                            <label class="ls text-uppercase mb-0">Your Email</label>
                            <input class="form-control" type="email" name="email" placeholder="" required="required" />
                          </div>
                          <div class="form-group">
                            <label class="ls text-uppercase mb-0">Message</label>
                            <textarea class="form-control" rows="4" name="message" placeholder="" required="required"></textarea>
                          </div>
                          <div class="zform-feedback"></div>
                          <button class="btn btn-block btn-warning mt-4" type="submit">Submit</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-center mt-4">
                  <div class="col-lg-10">
                    <div class="rounded googlemap minh-50vh" data-latlng="48.8583701,2.2922873,17" data-scrollwheel="false" data-icon="assets/img/map-marker.png" data-zoom="17" data-theme="Default">
                      <div class="marker-content py-3">
                        <h5>Eiffel Tower</h5>
                        <p>Gustave Eiffel's iconic, wrought-iron 1889 tower,
                          <br/> with steps and elevators to observation decks. </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end of .container-->

            </section>
            <!-- <section> close ============================-->
            <!-- ============================================-->


            <footer class="page-footer">
              <div class="bg-holder" style="background-image:url(assets/img/sidebars/contact.jpg);background-position: 0 37%; transform: scale(1.1);">
              </div>
              <!--/.bg-holder-->

              <div class="row justify-content-center">
                <div class="col-lg-10">
                  <div class="row align-items-center">
                    <div class="col-lg-6 text-lg-left">
                      <p class="fs--1 text-uppercase ls font-weight-bold mb-0">
                        Copyright &copy; 2018 Boots4&trade; inc.</p>
                    </div>
                    <div class="col-lg-6 text-lg-right mt-2 mt-lg-0">
                      <p class="fs--1 text-uppercase ls font-weight-bold mb-0">Made with<span class="fas fa-heart mx-1"></span>by
                        <a class="text-light" href="https://themewagon.com/">Themewagon</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </footer>
          </div>
          <div class="col-lg-3 col-12 t-0 order-0 order-lg-1 position-absolute position-lg-relative">
            <div class="h-lg-100vh sticky-top py-4 "><span class="btn-close sticky-area"><img class="d-none d-lg-block times" src="assets/img/times.svg" width="25" alt=""/><img class="d-lg-none" src="assets/img/times-black.svg" width="18" alt=""/></span>
              <div class="bg-holder d-flex d-sm-flex d-md-inline" style="background-image:url(assets/img/sidebars/contact.jpg);">
                <div class="menu-mobile d-flex d-lg-none ml-5">
                    <div class="container-menu-mobile px-3" (click)="openMenuMovil($event)">
                        <i class="fas fa-bars fa-2x"></i>
                    </div>
                </div>
              </div>
              <!--/.bg-holder-->

              <h1 class="page-title">{{title}}</h1>
            </div>
          </div>
        </div>
      </div>