
<div class="container-fullpage-menu d-lg-none animated fadeIn">
    <div class="closeMovile p-3 text-right">
        <a (click)="onCloseMenuMovile($event)"><i class="fas fa-times fa-2x" ></i></a>
    </div>
    <div class="menu-fullpage">
        <div  *ngFor="let pag of paginas.children" class="d-flex flex-column align-items-center w-100 my-2">
  
            <h4 class="w-100 text-center p-2">{{pag.title | uppercase}}</h4>
            <!-- <ul *ngIf="pag.children" class="m-0 p-0 text-center">
                <li *ngFor="let subp of pag.children">
                    <h3>{{subp.title}}</h3>
                    <ul *ngIf="subp.children">
                        <li *ngFor="let subp2 of subp.children">
                            <h4>{{subp2.title}}</h4>
                        </li>
                    </ul>
                </li>
            </ul> -->
        </div>
        
    </div>
</div>
