<div class="page position-absolute t-0 w-100" id="universidad">
    <div class="row no-gutters minh-100vh">
        <div class="col-lg-9 order-1 order-lg-0 page-content  pt-0 pt-lg-0">
            
            <app-menu [paginas]="paginas" (current)="setCurrent($event)" (menu)="setMenu($event)"></app-menu>
            <div class="accesibilidad">
                <app-inclusion display="up"></app-inclusion>
            </div>
            <!-- ============================================-->
            <!-- <section> begin ============================-->
            <section class="pt-5 pt-xl-7 pt-xxl-8">

                <div class="container-fluid">
                    <div class="row justify-content-center pb-5" id="boots4-story">
                        <div class="col-lg-10">
                            <div class="text-center pt-6 pt-md-4 pt-lg-0 mb-5 mb-lg-6">
                                <h2 class="fs-2 fs-sm-3"> <span class="font-weight-medium">The Story of </span> Boots4
                                </h2>
                                <hr class="hr-ornate" />
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4 mb-md-0">
                                    <div class="bg-holder position-relative rounded py-8 py-md-0"
                                        style="background-image:url(assets/img/infinity.jpg);">
                                    </div>
                                    <!--/.bg-holder-->

                                    <div
                                        class="position-absolute t-0 l-0 h-100 w-100 d-flex align-items-center justify-content-center">
                                        <a class="video-modal text-white"
                                            href="https://www.youtube.com/watch?v=J8Fht5yrD48" data-start="33"
                                            data-end="59"><span class="fa-layers fa-fw fs-5"><i
                                                    class="fas fa-circle"></i><i class="text-primary fas fa-play"
                                                    data-fa-transform="shrink-12 right-0.5"></i></span></a>
                                    </div>
                                </div>
                                <div class="col-md-6 pl-3 pl-md-4">
                                    <h4>To Infinity and Beyond!</h4>
                                    <p class="lead my-3">At Boots4, we believe there is a way where customers are earned
                                        rather than bought. We're obsessively passionate about it, and our mission is to
                                        help you achieve it. </p>
                                    <p class="column-xxl-2 mb-0">Boots4 was founded by ThemeWagon Team in 1896. It was
                                        called the world's first bootstrap four template, and started as a Lorem ipsum,
                                        dolor sit amet consectetur adipisicing elit. Ipsam illo, magni aut recusandae
                                        perspiciatis quam
                                        sed eveniet, debitis tempore natus corrupti nostrum deserunt, harum in dolor
                                        dolorem sit voluptatum iusto. recusandae perspiciatis quam sed eveniet, debitis
                                        tempore natus corrupti nostrum recusandae perspiciatis quam sed eveniet,
                                        debitis tempore. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center" id="fun-facts">
                        <div class="col-lg-10">
                            <div class="card-deck">
                                <div class="card border-2x border-warning rounded py-5 px-3 text-center">
                                    <img class="position-absolute r-0 t-0" src="assets/img/shapes/1.png" alt=""
                                        style="width: 30%; border-top-right-radius: 1px;" />
                                    <img class="mx-auto" src="assets/img/icons/lightbulb_idea.svg" width="70"
                                        alt="" /><span class="d-block fs-3 mt-2 text-dark" data-countup="64973">0</span>
                                    <h5>Lines Of Code</h5>
                                </div>
                                <div class="card border-2x border-danger rounded py-5 px-3 text-center">
                                    <img class="position-absolute b-0 r-0" src="assets/img/shapes/2.png" alt=""
                                        style="width: 70%; border-bottom-right-radius: 1px;" />
                                    <img class="mx-auto" src="assets/img/icons/coffe.svg" width="70" alt="" /><span
                                        class="d-block fs-3 mt-2 text-dark" data-countup="10218">0</span>
                                    <h5>Cups of Coffee</h5>
                                </div>
                                <div class="card border-2x border-primary rounded py-5 px-3 text-center">
                                    <img class="position-absolute t-0 l-0" src="assets/img/shapes/3.png" alt=""
                                        style="width: 70%;" />
                                    <img class="mx-auto" src="assets/img/icons/cloud.svg" width="70" alt="" /><span
                                        class="d-block fs-3 mt-2 text-dark" data-countup="7499">0</span>
                                    <h5>Download</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of .container-->

            </section>
            <!-- <section> close ============================-->
            <!-- ============================================-->




            <!-- ============================================-->
            <!-- <section> begin ============================-->
            <section class="pt-0 text-center">

                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-lg-10 col-xxl-7 col-xl-9">
                            <div class="mb-5 mb-lg-6">
                                <h2 class="fs-2 fs-sm-3"> <span class="font-weight-medium">Meet Our </span> Team</h2>
                                <hr class="hr-ornate" />
                            </div>
                            <div class="row">
                                <div class="sortable w-100 perfiles" data-options='{"layoutMode":"packery"}'>
                                    <div class="menu justify-content-center mb-5">
                                        <div class="item px-3 text-uppercase active" data-filter="*">All</div>
                                        <div *ngFor="let item of profileCategories" class="item px-3 text-uppercase" [attr.data-filter]="'.'+item">
                                            {{item}}
                                        </div>
                                    </div>
                                    <div class="row sortable-container">
                                        <ng-container  *ngFor="let profile of profiles">
                                            <div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 mb-5 sortable-item perfil" [ngClass]="profile.page.description">
                                                <img class="img-fluid rounded-circle" [src]="profile.image.src" width="140" alt="" />
                                                <h5 class="mt-3 mb-1">
                                                    <a class="menu-action-trigger" [attr.data-content]="profile.page.path">
                                                        {{profile.page.title}}
                                                    </a>
                                                </h5>
                                                <h5 class="text-500 mb-1">{{profile.page.description}}</h5>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                                
                               
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <ul class="pagination d-flex justify-content-center">
                                        <li class="disabled"><a href="#">&laquo;</a></li>
                                        <li class="active"><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">&raquo;</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center pt-4">
                        <div class="col">
                            <h2 class="font-weight-medium fs-2 fs-sm-3"> Make Your Story With Us</h2>
                            <p class="lead">Join the talented group of artists &amp; imagineers.</p>
                            <a class="btn btn-primary rounded mt-2 shadow-sm" href="#!">Join Boots4</a>
                        </div>
                    </div>
                </div>
                <!-- end of .container-->

            </section>
            <!-- <section> close ============================-->
            <!-- ============================================-->


        <footer class="page-footer">
            <div class="container-fluid copyright">
                <div class="row p-3">
        
                    <div class="derechos col-12 col-md-6 order-2 order-md-1 text-center text-md-left p-1 p-md-0">
                        Copyright 2018 Universidad de O'Higgins | Todos los derechos reservados.
                    </div>
                    <div class="redes col-12 col-md-6 order-1 order-md-2 text-center text-md-right p-1 p-md-0">
                        <a href=""><i class="fab fa-facebook-square fa-2x"></i></a>
                        <a href=""><i class="fab fa-twitter-square fa-2x"></i></a>
                        <a href=""><i class="fab fa-instagram fa-2x"></i></a>
                        <a href=""><i class="fab fa-youtube fa-2x"></i></a>
                    </div>
        
                </div>
            </div>
        </footer>
        </div>
        <div class="col-lg-3 col-12 t-0 order-0 order-lg-1 position-absolute position-lg-relative">
            <div class="h-lg-100vh sticky-top py-4">
                <span class="btn-close sticky-area p-1 m-1 p-lg-3 m-lg-3">
                    <i class="fas fa-home fa-stack-1x fa-inverse d-lg-none"></i>
                    <img class="d-none d-lg-block times" src="assets/img/times.svg" width="25" alt="" />
                </span>
                <div class="bg-holder d-flex d-sm-flex d-md-inline" style="background-image:url(https://picsum.photos/400/1004);">
                    <div class="bg-color" [ngStyle]="{'background':'linear-gradient( rgb('+color+') 40%, rgba('+color+',.4) )'}"></div>
                    <div class="menu-mobile d-flex d-lg-none ml-5">
                        <div class="col-6">
                            <img src="assets/img/examples/LOGO_CABECERA.png" class="sticky-area img-fluid mh-100 h-auto w-100 py-1"
                                alt="Logo header">
                        </div>
                        <div class="col container-menu-mobile px-3" *ngIf="!showMenuMovil" (click)="openMenuMovil($event)">
                            <i class="fas fa-bars fa-2x"></i>
                        </div>
                        <div class="col container-menu-mobile px-3" *ngIf="showMenuMovil" (click)="cerrarMenu($event)">
                            <i class="fas fa-times fa-2x"></i>
                        </div>
                    </div>
                </div>
                <h1 class="page-title">{{title}}</h1>
            </div>
            <app-menu-mobile *ngIf="showMenuMovil" [paginas]="currentMenu" ></app-menu-mobile>
        </div>
    </div>
</div>


